<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Edit Profile</title>
<link rel="stylesheet" href="/styles.css">

</head>
<body>
	<h1>Edit Profile</h1>
	<form action ="/updateProfile" method ="post" enctype="multipart/form-data">
		
		<strong><label>DOB: </label></strong>
		<input type="date" name="dob">
		<br><br>
		
		<strong><label>Gender: </label></strong>
		<label>Male </label><input type="radio" name="gender" value ="M"> 
		<label>  Female </label><input type="radio" name="gender" value ="F">
		<label>  Others </label><input type="radio" name="gender" value ="O">
		<br><br>
		
		<strong><label>City: </label></strong>
		<input type="text" name="city">
		<br><br>
		
		<strong><label>Bio: </label></strong>
		<input type="text" name="bio">
		<br><br>
		
		<strong><label>College: </label></strong>
		<input type="text" name="college">
		<br><br>
		
		<strong><label>LinkedIn: </label></strong>
		<input type="text" name="linkedIn">
		<br><br>
		
		<strong><label>GitHub: </label></strong>
		<input type="text" name="gitHub">
		<br><br>
		
		<input type="file" name="profilePic" accept="image/*">
		<br><br>
		
		<input type ="submit" value="Update Profile">
		<hr>
		
	</form>
</body>
</html>