<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Posts</title>
</head>
<body>

	<div class="profile-details">
		<span th:each="post : ${allPosts}">
			<p>
				<strong>Photo:</strong>
			</p> 
			<img th:if="${post.photoBase64}"
			th:src="'data:image/jpeg;base64,' + ${post.photoBase64}"
			alt="Post Photo" />

			<p>
				<strong>Caption:</strong> <span th:text="${post.caption}"></span>
			</p>

			<p>
				<strong>Likes:</strong> <span th:text="${post.likes}"></span>
			</p>
		</span>
	</div>
</body>
</html>