<!DOCTYPE html>
<html>
<head>
<title>Forget Password</title>
<link rel="stylesheet" href="styles.css">

</head>
<body>
<form action="/updatePassword" method="post">

<label>Email: </label>
<input type="email" name ="email" required>
<br><br>

<label>New Password: </label>
<input type="password" name ="newPassword" required>
<br><br>

<label>Confirm New Password: </label>
<input type="password" name ="confirmNewPassword" required>
<br><br>

		<input type="submit" value="UpdatePassword">
	
</form>

</body>
</html>