<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>My Profile</title>
<link rel="stylesheet" href="/myProfile.css">
</head>
<body>
<nav>
	    <Strong><em><span th:text="${session.username}"></span></em></Strong>
		<a href="/newsFeed">Go Home</a>
	</nav>
    <h2>Profile Page</h2>
    <div class="profile-details">
        <p><strong>ID:</strong> <span th:text="${user.id}"></span></p>
        <p><strong>USERNAME:</strong> <span th:text="${user.username}"></span></p>
        <p><strong>EMAIL:</strong> <span th:text="${user.email}"></span></p>
        <p><strong>GENDER:</strong> <span th:text="${user.gender}"></span></p>
        <p><strong>CITY:</strong> <span th:text="${user.city}"></span></p>
        <p><strong>Date of Birth:</strong> <span th:text="${user.dob}"></span></p>
        <p><strong>COLLEGE:</strong> <span th:text="${user.college}"></span></p>
        <p><strong>LINKEDIN:</strong> <span th:text="${user.linkedIn}"></span></p>
        <p><strong>GITHUB:</strong> <span th:text="${user.gitHub}"></span></p>
        <p><strong>Photo:</strong></p>
        <img th:if="${user.photoBase64}" th:src="'data:image/jpeg;base64,' + ${user.photoBase64}" alt="Profile Photo" />
        <p><strong>BIO:</strong> <span th:text="${user.bio}"></span></p>
    </div>
    <a href="/openEditProfile">Edit Your Profile</a>
</body>
</html>
